modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node /home/runner/workspace/backend/index.mjs"
waitForPort = 3000

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
build = ["sh", "-c", "bash -c \"cd frontend && bun install && bun run expo export --platform web\""]
run = ["sh", "-c", "node backend/index.mjs"]
deploymentTarget = "cloudrun"
